* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0px;
}

.container {
  background-color: rgba(156, 116, 55, 0.241);
  min-height: 100vh;
  padding: 30px 50px;
}
h1 {
  text-align: center;
  font-size: 64px;
}

.start-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.buttons {
  border: none;
  color: white;
  padding: 20px 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  cursor: pointer;
}

.go-button,
.up-button,
.down-button {
  background-color: #4caf50;
}
.container-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.cards {
  display: flex;
  gap: 40px;
}
.card1 {
  border: 2px solid #000;
  height: 300px;
  width: 200px;
}

.card2 {
  border: 2px solid #000;
  height: 300px;
  width: 200px;
}

.hidden {
  display: none;
}
